body {
    background-color: #000000;
}

.wrapper {
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
}
    
.header {
    text-align: center;
    position: fixed;
    z-index: 200;
    max-width: 90%;
}

.header h1 {
    color: white;
    font-family: 'Fascinate Inline';
    margin-top: 150px;
    font-size: 50px;
}

.header h2 {
    color: darkgrey;
    font-family: 'Open Sans';
    margin-top: -20px;
    font-size: 14px;
}

#map {
    height: 900px;
    width: 110%;
    margin: 0 auto;
}

.coordinates {
    color: grey;
}
    
@media only screen and (max-width: 750px) {
    
    .header h1 {
        margin-top: 150px;
        font-size: 40px;
    }

    .header h2 {
        margin-top: -20px;
        font-size: 14px;
    }
    
}